<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">    
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.css">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Respuesta</title>
</head>
<body>
    <header><h1>Respuesta</h1></header>
    <div class="form-group" style="width: 40%; margin-left: 3%;">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">Datos</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Nombre: <%= nombre %></a>
            <a href="#" class="list-group-item list-group-item-action disabled">Edad: <%= edad %></a>
            <a href="#" class="list-group-item list-group-item-action disabled">Tipo de Sangre: <%= tipoSangre %></a>
            <a href="#" class="list-group-item list-group-item-action disabled">NSS: <%= nss %></a>
        </div>
    </div>
</body>
</html>