<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">    
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.css">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
</head>
<body>
    <header>
        <h1>
            Prácticas PW | Menú Principal
        </h1></header>
    <div class="form-group" style="width: 40%; margin-left: 3%;">
        <div class="list-group">
            <!-- Recibe los datos desde el testJson-->
            <a href="#" class="list-group-item list-group-item-action active">Rutas de Acceso</a>
            <a href="/student" class="list-group-item list-group-item-action">Students | <b>Práctica 15</b></a>
            <a href="/testJson" class="list-group-item list-group-item-action">Person | <b>Práctica 17</b></a>
        </div>
    </div>
</body>
</html>