<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba jQuery</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">    
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" id="back">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Test JSON | Prueba de jquery
    </h1>
    <form action="/personJson" method="post" style="margin:3rem">
        <label for="fname">Nombre:</label>
        <input type="text" name="fname" id="fname" placeholder="Nombre" required>
        <label for="lname">Apellido:</label>
        <input type="text" name="lname" id="lname" placeholder="Apellido" required>
        <input type="submit" value="Submit">
    </form>
    <script>
        //Envía los dos campos del formulario como prueba de jquery
        $.ajax({
                type: "POST",
                url: "/personJson",
                data: JSON.stringify({ nombre: 'Juan', apellido: 'Parra'}),
                dataType: 'json',
                contentType: 'application/json'
            });
        $(document).ready(function() {})
        $("#back").click(function(){
            //Volver a la raíz
            window.location.href = "/";
        });
    </script>
</body>
</html>